<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="stampCancelled">
            <h2><span>Stamp Cancelled</span> {{stampCancelled.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Reason</span></dt>
                <dd>
                    <span>{{stampCancelled.reason}}</span>
                </dd>
                <dt><span>Imputation</span></dt>
                <dd>
                    <span>{{stampCancelled.imputation}}</span>
                </dd>
                <dt><span>Stamp</span></dt>
                <dd>
                    <div *ngIf="stampCancelled.stamp">
                        <a [routerLink]="['/stamp', stampCancelled.stamp?.id, 'view']">{{stampCancelled.stamp?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/stamp-cancelled', stampCancelled.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
