<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-parcel-control-heading">Create or edit a Parcel Control</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!parcelControl.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="parcelControl.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_control">Control</label>
                    <select class="form-control" id="field_control" name="control" [(ngModel)]="parcelControl.control" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="controlOption.id === parcelControl.control?.id ? parcelControl.control : controlOption" *ngFor="let controlOption of controls; trackBy: trackControlById">{{controlOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
